---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Showcase from "../components/Showcase.astro";
import WhoWeServe from "../components/WhoWeServe.astro";
import Stats from "../components/Stats.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <Services />
    <Showcase />
    <WhoWeServe />
    <Stats />
    <About />
    <Contact />
  </main>
  <Footer />
</Base>
